{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="main-block">
        <div class="profile-container">
            <div class="profile-icon" id="defaultIcon">
                <img src="{% static './images/Vector (2).svg' %}" alt="defaultIcon" class="profile-icon">
            </div>
            <img id="profileImage" src="" alt="">
            <div class="profile-edit" onclick="triggerFileInput()">
                <img src="{% static './images/profile-edit.svg' %}" alt="Редактировать">
            </div>
        </div>
        <input type="file" id="fileInput" accept="image/*" onchange="previewImage()">
        <div class="profile-title">
            <div class="profile-name">
                <span class="profile-name-title">
                    {{ user.username }}
                </span>
            </div>
            <br>
            <a href="{% url 'logout_action' %}">
                <button class="profile-logout">Выйти с аккаунта</button>
            </a>
            
        </div>
        <div class="support">
            <a href="" class="support-btn">Служба поддержки</a>
        </div>
    </div>
    <script src="{% static './js/script.js' %}"></script>
</section>
{% endblock %}