{% extends 'base.html' %}
{% load static %}


{% block content %} 
<section>
    <div class="categories">
        <div class="container">
        <span class="scroll-content">
        {% for category in categories %}
        <a href="{% url 'category_by_main_page' slug=category.slug %}" class="scroll-item">
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="scroll-img">
            <p class="scroll-title">{{ category.name }}</p>
        </a>
        {% endfor %}
        </span>
    </div>
    </div>
</section>
    <section>
    <div class="main-block">
        <div class="search-bar">
            <form action="{% url 'search_action' %}">
                <div class="search-container">
                    <input type="search" name="q" placeholder="Поиск...">
                <button type="submit" class="poisk-butt">
                    <img src="{% static './images/search-icon.svg' %}" alt="">
                </button>
                </div>
            </form>
            <button class="btn-filter" onclick="MenuFilter()">
                <img src="{% static './images/filtres.png' %}" alt="filters">
            </button>
        </div>
        <form action="{% url 'salary' %}">
            <div class="filters" id="Filters" style="display: none" onclick="FilterMenu()">
                <h2 class="filters-price">Стоимость</h2>
                <div class="filters-price-row">
                        <button name="cost" value="low" class="price" type="button" onclick="toggleGlow(this)">
                        <h3 class="prices">&#8376</h3>
                    </button>
                    <button name="cost" value="mid" class="price" type="button" onclick="toggleGlow(this)">
                        <h3 class="prices">&#8376&#8376</h3>
                    </button>
                    <button name="cost" value="high" class="price" type="button" onclick="toggleGlow(this)">
                        <h3 class="prices">&#8376&#8376&#8376</h3>
                    </button>
                    <div class="price-checkbox">
                    <button name="salary-free" class="price-box" onclick="toggleGlow(this)"></button>
                        <h3 class="prices">Бесплатно</h3>
                </div>
                </div>
                <h2 class="filters-date">Даты</h2>
                    <div class="filters-date-row">
                        <button type="button" class="filters-dates" onclick="toggleGlow(this)">
                            <h5 class="filters-date-No">24.08</h5>
                        </button>
                        <button type="button" class="filters-dates" onclick="toggleGlow(this)">
                            <h5 class="filters-date-No">12.12</h5>
                        </button>
                        <button type="button" class="filters-dates" onclick="toggleGlow(this)">
                            <h5 class="filters-date-No">22.09</h5>
                        </button>
                        <button type="button" class="filters-dates" onclick="toggleGlow(this)">
                            <h5 class="filters-date-No">11/9</h5>
                        </button>
                        <button type="button" class="filters-dates" onclick="toggleGlow(this)">
                            <h5 class="filters-date-No">11/09</h5>
                        </button>
                    </div>
                    <div class="filters-clear-search">
                        <a href="{% url 'home_page' %}">
                            <button type="button" class="filters-clear">
                                Сброс
                            </button>
                        </a>
                            <button type="submit" class="filters-search">
                                Поиск
                            </button>
                    </div>
            </div>
        </form>
        <div class="weather">
            <img src="{% static './images/Weather/oblachno.png' %}" alt="" class="weather-img">
        </div>
            <div class="event-gl"><h1 class="Events">Ивенты</h1></div>
            <div class="event-row">
                {% for place in places %}
                <a href="{% url 'place_detail' pk=place.pk %}" class="event-item">
                    <img src="{% static './images/event-item1.png' %}" alt="event-item1" class="event-img">
                    <h5 class="event-title">{{ place.category }}</h5>
                    <h4 class="event-name">{{ place.name }}</h4>
                </a>
                {% endfor %}
            </div>
    </div>
    </section>
{% endblock %}