{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="main-block">
        <h1 class="regestr">Регистрация</h1>
        <div class="profile-container">
            <div class="profile-icon" id="defaultIcon">
                <img src="{% static './images/Vector (2).svg' %}" alt="defaultIcon" class="profile-icon">
            </div>
            <img id="profileImage" src="" alt="">
            <div class="profile-edit" onclick="triggerFileInput()">
                <img src="{% static './images/profile-edit.svg' %}" alt="Редактировать">
            </div>
        </div>
        <input type="file" id="fileInput" accept="image/*" onchange="previewImage()">
        <div class="regestr-title">
            <div class="auth">
                <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="зарегистрироваться" class="submit">
                <span>
                    <p class="fast-trevel">Если у вас уже есть аккаунт перейдите по 
                        <a href="{% url 'login_page' %}" class="fast-trevel">ссылке</a>
                </p>
                </span>
            </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</section>

{% endblock %}